@import url('https://fonts.googleapis.com/css2? famille= Rajdhani:wght@300;400;500;600;700 &family= Space+Grotesk:wght@300;400;500;600;700 & display=swap');

:root{
    --yellow-color:#FFFF00
    --yellow-light:#F8F184;
    --blue-color:#75a6c2d3;
    --white-colore:#FFFFFF;
    --gradient-white:#eddebf69;
    --gradient-red:#8900096b;
    --black-color:#000;
    --gradient-grey:#eddebf42;
    --gradient-blue:#19587d59;
    --grey-light:#C4C4C4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

h1 {
    font-family: 'rajdhani';
    font-size: 36px;
    font-weight: 400;
}
button{
    font-family: 'rajdhani';
    font-size: 20px;
    font-weight: 400;
}

.container{
    width: 80%; 
    margin: 0 auto; 
}

body {
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
}

.up-bar{
    border-top: var(--grey-light) 2px solid;
    position: relative;
    top: 132px;
    left: 102px;
    width: 80%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

ul {
    list-style: none;
}

nav ul a {
    color: var(--white-colore);
    font-size: 30px;
    font-weight: 500;
    font-family: 'rajdhani';

}
nav ul a:hover {
    color: var(--yellow-color);
}

.logo:hover{
    filter: invert(44%) sepia(100%) brightness(100%) contrast(200%);
}
/* Design de la partie en-tête hero */

#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}

#hero .titre {
    margin: 20px 0;
}

.btn{
    text-decoration: none;
    color: var(--white-colore);
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 10px;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    box-shadow: var(--black-color) 5px 5px 60px;
}
#hero .flèche{
    display: block;
    margin: 0 auto;
    margin-top: 288px;
}

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 80px;
    top: 230px;
}

.scroll .social{
    margin-top: 15px;
}
/* Design de la section batman personnage */
#batman-cinema, #nemesis, #alliés, #justice-league{
    margin-top: 15px;
}

.batman-personnage, .nemesis-personnage, .alliés-personnage{
    display: flex;
    justify-content: space-between;
}

#batman-cinema .titre, #nemesis .titre, #alliés .titre, #justice-league .titre{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
}

#batman-cinema .description, #nemesis .description, #alliés .description, #justice-league .description{
    margin: 40px;
    text-align: justify;
    width: 80%;

}

.personnage-info{
    text-align: center;
    font-weight: bold;
}

/* Design de la section multimedia */
#multimedia button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
}

#multimedia button.right {
    right: -1450px;
}

#multimedia .slider-multimedia{
    display: flex;
    width: 60%;
    margin: 40px auto;
}

#multimedia .slider-image{
    width: 100%;
}

#multimedia .slider-content{
    padding: 15px;
    background: linear-gradient(
        80deg, var(--gradient-grey),var(--gradient-blue)
    ) ;
   /*border-radius: 20px*/
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}

#multimedia .p{
    font-size: 14px;
}

#multimedia .titre{
    font-weight: bold;
}

#multimedia .yellow{
    color: var(--yellow-color);
}


/*Design de la partie contact de la formulaire*/
#contact{
    background-color: darkslategrey;
    padding: 70px 0;
}

#contact .form{
    width: 50%;
    margin: 0 auto;
}

#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

#contact .titre{
    display: block;
    margin: 28px 0;
}

#contact .form input[type='email'], textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    border-bottom: 2px solid rgb(219, 211, 211);
    background-color: transparent;
    padding: 10px 0;
}

#contact .news{
    margin: 15px 0;
    border-bottom: 2px solid  rgb(219, 211, 211);
}

#contact .icon img{
    transform: rotate(90deg);
    width: 20px;
}

::placeholder{
    color: var(--grey-light) ;
    font-size: 15px;
}

.btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.formulaire input [type="radio"]{
    opacity: 0;
}

.btn-group label{
    text-decoration:none;
    cursor: pointer;
    border: 1px solid;
    padding: 10px;
    font-size: 20px;
    box-shadow: var(--black-color) 5px 5px 60px;
}

input[type="submit"]{
    width: 230px;
    margin: 25px auto;
    padding: 15px 0;
    cursor: pointer;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    text-align: center;
    justify-content: center;
}

/*Design de la section citation*/
#citation{
    margin: 90px;
}
#citation .citation-carte{
    text-align: center;
    width: 50%;
    margin:0 auto;
}

#citation .citation-auteur{
    padding-top: 30px;
    font-size: 14px;
    font-family: "rajdhani";
}

#citation .guillement-close{
    float: right;
}

/*Design du footer*/
footer{
    margin-top: 162px;
}

footer .text-footer{
    text-align: center;
    font-size: 14px;
}

footer .social-footer{
    text-align: center;
    margin: auto50px 0;
}

footer .social item{
    padding: 15px;
}